# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

.mvn/
mvnw
mvnw.cmd
/configuration-server/.gradle/
/configuration-server/build/
/configuration-server/gradlew.bat
/configuration-server/gradlew
/discovery-server/gradlew.bat
/discovery-server/gradlew
/discovery-server/build/
/gateway/.gradle/
/discovery-server/.gradle/
/.gradle/
/license-service/.gradle/
/gateway/build/
/license-service/build/
/data/*
/build/*
/build/sonar/*
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.m2e.core.prefs
.vscode/settings.json
configuration-server/.classpath
configuration-server/.project
configuration-server/.settings/org.eclipse.buildship.core.prefs
configuration-server/.settings/org.eclipse.core.resources.prefs
configuration-server/.settings/org.eclipse.jdt.apt.core.prefs
configuration-server/.settings/org.eclipse.jdt.core.prefs
configuration-server/.settings/org.eclipse.m2e.core.prefs
configuration-server/bin/main/application.yml
configuration-server/bin/main/banner.txt
configuration-server/bin/main/shared/gateway.yml
configuration-server/bin/main/shared/health-service.yml
configuration-server/bin/main/shared/identity-service.yml
configuration-server/bin/main/shared/license-service.yml
discovery-server/.classpath
discovery-server/.project
discovery-server/.settings/org.eclipse.buildship.core.prefs
discovery-server/.settings/org.eclipse.core.resources.prefs
discovery-server/.settings/org.eclipse.jdt.apt.core.prefs
discovery-server/.settings/org.eclipse.jdt.core.prefs
discovery-server/.settings/org.eclipse.m2e.core.prefs
discovery-server/bin/main/application.yml
gateway/.classpath
gateway/.project
gateway/.settings/org.eclipse.buildship.core.prefs
gateway/.settings/org.eclipse.core.resources.prefs
gateway/.settings/org.eclipse.jdt.apt.core.prefs
gateway/.settings/org.eclipse.jdt.core.prefs
gateway/.settings/org.eclipse.m2e.core.prefs
gateway/bin/main/banner.txt
gateway/bin/main/bootstrap.yml
gateway/bin/test/bootstrap.yml
health-service/bin/main/banner.txt
health-service/bin/main/bootstrap.yml
health-service/bin/test/bootstrap.yml
identity-service/bin/main/banner.txt
identity-service/bin/main/bootstrap.yml
identity-service/bin/test/bootstrap.yml
license-service/.gitignore
license-service/bin/main/banner.txt
license-service/bin/main/bootstrap.yml
license-service/bin/test/bootstrap.yml
.project
